* {
    font-family: 'Roboto Flex', sans-serif;

}

body {
    background: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.right-links {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.hero{
    display: flex;
    color: #f9faf8;
    font-weight: extra-bold;
}

.hero .left{
    display: flex;
    flex-direction: column;
}

.hero .title {
    font-size: 48px;
    margin: 0;
}

.hero .subtitle {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

button, .call-to-action {
    background-color: #3882f6;
}
button.sign-up {
/* Modified from https://html.form.guide/snippets/css-button-rounded-corners/ */
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    font-size:14px;
    border:0;
    cursor:pointer;
    margin:1em;
    max-width: 150px;
    margin-left: 0;
}

.hero .image {
    margin-left: 48px;
}

.information{
    background: rgb(255,255,255);
}

.quote {
    background: #e5e7eb;
    padding: 16px;
}

.quote .text {
    text-align: center;
    font-style: italic;
}

.quote .signature{
    text-align: right;
    font-weight: bold;
}

.call-to-action{
    color: #f9faf8;
    padding: 16px;
}

button.call-to-action{
    border: #fff solid;
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    margin:1em;
    max-width: 150px;
}